.stat-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.stat-wrap_items {
    text-align: center;
    color: #8a9ba8;
}

.stat-wrap span {
    font-size: 18px;
    display: block;
    color: #c8cbd0;
}